<div class="popup" id="{{ thr.thread.id }}-popup">
    <div class="popup-header" onclick="hide({{ thr.thread.id }})">
        <div class="popup-profile">
            <img class="popup-photo" src="{{ thr.photo }}">
            <span class="popup-name">{{ thr.participant.firstname ~ ' ' ~ thr.participant.lastname }}</span>
        </div>
        <div class="popup-action">
            <span class="fas fa-window-minimize popup-icon popup-mini"></span>
            <span class="fas fa-times popup-icon popup-close"></span>
        </div>
    </div>
    <hr class="popup-hr">
    <ul class="message-list" id="{{ thr.thread.id }}-list">
        {% for message in thr.thread.messages %}
            <li class="popup-msg{{ message.sender.id == online.id ? ' msg-yours' : '' }}">
                <div class="message-text {{ message.sender.id == online.id ? 'text-yours' : 'text-theirs' }}">
                    {{ message.body }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="compose-msg">
        <textarea id="{{ thr.thread.id }}-popup-textarea" class="popup-textarea" placeholder="Write your message"></textarea>
        <button class="btn btn-primary compose-btn" onclick="send({{ thr.thread.id }})">Send</button>
    </div>
</div>