{% extends "member_base.html.twig" %}

{% block title %}Events{% endblock %}

{% block banner_img %}
    {{ asset('member_assets/img/banner/banner-bg-1.jpg') }}
{% endblock %}

{% block banner_title %}Events{% endblock %}

{% block body %}
    <!--================Blog grid Area =================-->
    <section class="blog_grid_area sticky_story_area">
        <div class="container">
            <div class="welcome_title">
                <h3>haithem</h3>
                <img src="{{ asset('member_assets/') }}img/w-title-b.png" alt="">
            </div>

            <div class="row m0">
                    <div class="blog_grid_inner sticky_slider">
                        {% for event in events %}
                        <div class="item">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="{{ asset('business_assets/images/img_event/') }}{{ event['event'].photoUrl }}" alt="">
                                    <div class="author_name">
                                        <h4>{{ event['event'].title }}</h4>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>{{ event['event'].title }}</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">{{ event['event'].business }}</a>
                                        <a href="#">{{ event['event'].startDate | date('y-M-d') }}</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>{{ event['event'].content }}</p>
                                    {% if(event['exists']) %}
                                        <a href="#" data-id="{{ event['event'].id }}" data-url="{{ path('unparticipate_event') }}" class="participate green">participed <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="#" data-id="{{ event['event'].id }}" data-url="{{ path('participate_event') }}" class="participate">participate <i class="fa fa-angle-double-right"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </section>
    <!--================End Blog grid Area =================-->


    <!--================End Blog grid Area =================-->
{% endblock %}
{% block scripts %}
    <script src="{{ asset('member_assets/js/events.js') }}"></script>
{% endblock %}
