{% extends "member_base.html.twig" %}

{% block title %}Events{% endblock %}

{% block banner_img %}
    {{ asset('member_assets/img/banner/banner-bg-1.jpg') }}
{% endblock %}

{% block banner_title %}Events{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}



{% block body %}
    <!--================Blog grid Area =================-->
    <section class="blog_grid_area sticky_story_area">
        <div class="container">
            <div class="welcome_title">
                <h1>List events</h1>
                <img src="{{ asset('member_assets/') }}img/w-title-b.png" alt="">
            </div>

            <div class="row m0">
                    <div class="blog_grid_inner sticky_slider">
                        {% for event in events %}
                        <div class="item">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="{{ asset('business_assets/images/img_event/') }}{{ event['event'].photoUrl }}"  alt="">
                                    <div class="author_name">
                                        <h4>{{ event['event'].title }}</h4>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>{{ event['event'].title }}</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">{{ event['event'].business }}</a>
                                        <a href="#">{{ event['event'].startDate | date('y-M-d') }}</a>
                                        <a href="#">{{ event['event'].address.country }}</a>
                                    </div>


                                    <p>{{ event['event'].content }}</p>

                                    {% if(event['exists']) %}
                                        <a href="#" data-id="{{ event['event'].id }}" data-url="{{ path('unparticipate_event') }}" class="participate green">participed <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="#" data-id="{{ event['event'].id }}" data-url="{{ path('participate_event') }}" class="participate">participate <i class="fa fa-angle-double-right"></i></a>
                                    {% endif %}

                                    {% for rate in rating %}
                                        {% if event['event'].id == rate.idE %}
                                            {{ rate.avgrating|rating }}
                                        {% endif %}
                                    {% endfor %}


                                    </p>
                                      <div class="search_btn">
                                        <a href="{{ path('info_event',{'id':event['event'].id}) }}" class="register_angkar_btn" >EVALUER</a>
                                      </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </section>
    <!--================End Blog grid Area =================-->


    <!--================End Blog grid Area =================-->
{% endblock %}
{% block scripts %}
    <script>


        $('.participate').click(function(e){
            e.preventDefault();
            var id = $(this).attr('data-id');
            var url = $(this).attr('data-url');
            var that = this;
            console.log('test')
            $.ajax({
                url: url,
                data: {id: id},
                dataType: 'json',
                type: 'POST',
                success: function(data){
                    if($(that).hasClass('green')){
                        $(that).removeClass('green');
                        $(that).html('Participate <i class="fa fa-angle-double-right"></i>');
                        var currentUrl = $(that).attr('data-url').split('/');
                        currentUrl[currentUrl.length-1] = 'participate';
                        $(that).attr('data-url', currentUrl.join('/'));
                    }
                    else{
                        if(data.success){
                            $(that).addClass('green');
                            $(that).html('Participated <i class="fa fa-check"></i>');
                            var currentUrl = $(that).attr('data-url').split('/');
                            currentUrl[currentUrl.length-1] = 'unparticipate';
                            $(that).attr('data-url', currentUrl.join('/'));
                        }
                        else{
                            alert('No more places')
                        }
                    }
                },
                error: function(data){
                    console.log(data)
                }
            })
        })







    </script>
{% endblock %}
