{% extends "member_base.html.twig" %}

{% block title %}Events{% endblock %}

{% block banner_img %}
    {{ asset('member_assets/img/banner/banner-bg-1.jpg') }}
{% endblock %}

{% block banner_title %}Events{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}



{% block body %}
    <!--================Blog grid Area =================-->
    <section class="blog_grid_area sticky_story_area">
        <div class="container">
            <div class="welcome_title">
                <h3>haithem</h3>
                <img src="{{ asset('member_assets/') }}img/w-title-b.png" alt="">
            </div>


                        <div class="item">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <div class="author_name">
                                        <h4>{{ m.title }}</h4>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>{{ m.title }}</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">{{m.business }}</a>
                                        <a href="#">{{ m.startDate | date('y-M-d') }}</a>
                                        <a href="#">Dating</a>
                                    </div>


                                    <p>{{ m.content }}</p>



                                    {{ form_start(f) }}
                                    <div class="row">{{ form_widget(f.rating ) }}
                                        {{ form_widget(f.valider) }}
                                    </div>
                                    {{ form_end(f) }}


                                </div>
                            </div>
                        </div>
        </div>
    </section>
    <!--================End Blog grid Area =================-->


    <!--================End Blog grid Area =================-->
{% endblock %}
{% block scripts %}
    <script src="{{ asset('member_assets/js/events.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/rating/js/rating.js') }}"></script>
{% endblock %}
