{% extends "member_base.html.twig" %}

{% block title %}Profile | {{ user.firstname | capitalize }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('member_assets/css/card.css') }}" rel="stylesheet">
    <style>
        body { padding-right: 0 !important }

        .loader1 {
            border: 10px solid #cce6f4; /* Light grey */
            border-top: 10px solid transparent; /* Blue */
            border-radius: 50%;
            width: 200px;
            height: 200px;
            animation: spin 2s linear infinite;
            position: absolute;
        }
        .loader2 {
            border: 7px solid #175676; /* Light grey */
            border-top: 7px solid transparent; /* Blue */
            border-radius: 50%;
            width: 150px;
            height: 150px;
            animation: spin 1.2s linear infinite;
            position: absolute;
        }
        .loader3 {
            border: 5px solid #4ba3c3; /* Light grey */
            border-top: 5px solid transparent; /* Blue */
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 0.8s linear infinite;
            position: absolute;
        }
        .loader4 {
            border: 5px solid #e14b3b; /* Light grey */
            border-top: 5px solid transparent; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 0.5s linear infinite;
            position: absolute;
        }


        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}

{% block banner %}
    <section class="banner_area profile_banner">
        <div style="height: 421px; overflow-y: hidden;">
            <img id="cover" class="photo" data-toggle="modal" data-target="#photo-display" src="
            {% if cover is null %}
                {{ asset('member_assets/img/banner/banner-bg-2.jpg') }}
            {% else %}
                {{ asset(vich_uploader_asset(cover, 'imageFile')) }}
            {% endif %}
        " style="width: 100%;" >
        </div>
        <div class="profiles_inners">
            <div class="container">
                <div class="profile_content">
                    <div class="user_img" data-toggle="modal" data-target="#photo-display" style="">
                        <img style="height: 270px; width: 270px;" id="profile" class="img-circle photo" src="
                            {% if profile is null %}
                                {{ asset('member_assets/img/member.jpg') }}
                            {% else %}
                                {{ asset(vich_uploader_asset(profile, 'imageFile')) }}
                            {% endif %}
                        " alt="">
                    </div>
                    <div class="user_name">
                        <h3>{{ user.firstname | capitalize }} {{ user.lastname | capitalize }}</h3>
                        <h4>{{ user.age }} years old</h4>
                        <ul>
                            <li><a href="#">{{ user.address.city }}, {{ user.address.country }}</a></li>
                            <li class="dropdown extara">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">80% Match</a>
                                <ul class="dropdown-menu">
                                    <li>Match</li>
                                    <li>
                                        <div class="circle1">
                                            <strong></strong>
                                        </div>
                                        <h4>Match</h4>
                                    </li>
                                    <li>
                                        <div class="circle2">
                                            <strong></strong>
                                        </div>
                                        <h4>Enemy</h4>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="right_side_content">
                        <a class="btn form-control login_btn" href="{{ path('member_profile_edit') }}"><span style="vertical-align:middle;">Edit</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div id="loading-modal" class="modal fade centered-modal" role="dialog" style="display: flex; align-items: center; justify-content: center;" data-backdrop="static" data-keyboard="false">
        <div class="loader1"></div>
        <div class="loader2"></div>
        <div class="loader3"></div>
        <div class="loader4"></div>
    </div>

    <div id="answer-form" class="modal fade centered-modal" role="dialog" style="margin-top: 10vh;">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="answer-modal-close" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Answer</h4>
                </div>
                <div class="modal-body">
                    <div class="row card-container" style="width: 100%;">
                        <div class="col-md-12">
                            <div class="card horizontal" style="">
                                <div class="card-stacked">
                                    <form id="new_answer_form">
                                        <div class="card-content" style="max-height: 100%;">
                                            <div class="row" style="height: 100%; max-height: 100%;">
                                                <h4 style="text-align: center; width: 100%;" id="topic">Topic</h4><br/>
                                                <h1 style="text-align: center; width: 100%;" id="question" data-id="0">Type Question</h1><br/><br/>
                                                <div class="form-group" style="width: 60%; margin-left: 5%;">
                                                    <label for="importances" style="display: inline-block;">Importance:</label>
                                                    <select class="form-control" id="importances" style="display: inline-block; margin-left: 5%;" required>
                                                        <option value="null" disabled selected>Select an importance for this answer</option>
                                                        <option>Choice 1</option>
                                                        <option>Choice 1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 60%; margin-left: 5%;">
                                                    <label for="choices" style="display: inline-block;">Choices:</label>
                                                    <select class="form-control" id="choices" style="display: inline-block; margin-left: 5%;" required>
                                                        <option value="null" disabled selected>Select an answer</option>
                                                        <option>Choice 1</option>
                                                        <option>Choice 1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" style="width: 60%; margin-left: 5%;">
                                                    <label for="choices" style="display: inline-block;">Acceptable answers:</label><span id="choice_error" style=" margin-left: 30px; color: darkred;">At least one acceptable answer must be selected</span>
                                                    <div>
                                                        <div class="form-group" id="acceptableChoices">
                                                            <input style="margin-left: 5%;" type="checkbox" class="form-check-input" id="c1"/><label for="c1">Choice1</label>
                                                            <input style="margin-left: 5%;" type="checkbox" class="form-check-input" id="c2"/><label for="c2">Choice1</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <button id="answer-add-btn" type="submit" style="float: right;" class="btn btn-default">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="photo-display" class="modal fade centered-modal" role="dialog">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Photo</h4>
                </div>
                <div class="modal-body">
                    <div class="row card-container" style="width: 100%;">
                        <div class="col-md-12">
                            <div class="card horizontal" style=" height: 70vh;">
                                <div class="card-stacked">
                                    <div class="card-content" style="width: 100%; max-height: 90%;">
                                        <img data-id="0" style="max-width: 100%; max-height: 100%;" src="" id="img-canvas"/>
                                    </div>
                                    <div class="card-action" id="photo-display-action">
                                        <button id="set-profile" style="float: right; margin-left: 20px;" type="button" class="btn btn-default btn-md">Set as profile photo</button>
                                        <button id="set_cover" style="float: right; margin-left: 20px;" type="button" class="btn btn-default btn-md">Set as cover photo</button>
                                        <button id="delete-btn" style="float: right;" type="button" class="btn btn-default btn-md">Delete photo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section class="blog_grid_area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="members_profile_inners">
                        <ul class="nav nav-tabs profile_menu" role="tablist">
                            <li role="presentation" class="active"><a id="profile-btn" href="#profile-cnt" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                            <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">Likes</a></li>
                            <li role="presentation"><a href="#answers" aria-controls="answers" role="tab" data-toggle="tab">Answers</a></li>
                        </ul>
                        <div class="tab-content" style="height: 400px; overflow-y: auto;">
                            <div role="tabpanel" class="tab-pane active fade in" id="profile-cnt">
                                <div class="profile_list">
                                    <ul>
                                        <li><b>Gender</b></li>
                                        <li><b>Birthdate</b></li>
                                        <li><b>Height</b></li>
                                        <li><b>Body type</b></li>
                                        <li><b>Smoker</b></li>
                                        <li><b>Drinker</b></li>
                                        <li style="visibility: hidden;"><b>Looking for a</b></li>
                                        <li style="visibility: hidden;"><b>Work as</b></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            {% if( user.gender ) %}
                                                Male
                                            {% else %}
                                                Female
                                            {% endif %}
                                        </li>
                                        <li>{{ user.birthDate | date('F d, Y') }}</li>
                                        <li>{{ user.height }}</li>
                                        <li>{{ user.bodyType }}</li>
                                        <li>
                                            {% if( user.smoker ) %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if( user.drinker ) %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </li>
                                        <li style="visibility: hidden;"><a href="#">sss</a></li>
                                        <li style="visibility: hidden;"><a href="#">sss</a></li>
                                    </ul>
                                    <ul>
                                        <li><b>Religion</b></li>
                                        <li><b>Marital status</b></li>
                                        <li><b>Number of children</b></li>
                                        <li><b>Member since</b></li>
                                        <li><b style="visibility: hidden;">Prefered relations</b></li>
                                        <li><b style="visibility: hidden;">Prefered marital statuses</b></li>
                                        <li><b style="visibility: hidden;">Looking for a</b></li>
                                        <li><b style="visibility: hidden;">Work as</b></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            {% for key, value in religions %}
                                                {% if user.relegion == value %}
                                                    {{ key }}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                        <li>
                                            {% for key,value in statuses %}
                                                {% if user.civilStatus == value %}
                                                    {{ key }}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                        <li>{{ user.childrenNumber }}</li>
                                        <li>{{ user.createdAt | date('F d, Y') }}</li>
                                        <li><b style="visibility: hidden;">Man</b></li>
                                        <li><b style="visibility: hidden;">Man</b></li>
                                        <li><b style="visibility: hidden;">Man</b></li>
                                        <li><b style="visibility: hidden;">Designer </b></li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="likes">
                                <div class="likes_list">
                                    {% for like in likes %}
                                        <div class="row card-container margins" style="width: 100%;">
                                            <div class="col-md-12">
                                                <div id='place-' class="card horizontal clickable profile" data-path="{{ path('other_profile', {'id': like.likeReceiver.id}) }}">
                                                    <div class="card-image" style="width: 25%; min-width: 120px; overflow: hidden; ">
                                                        <img style='min-width: 100%; min-height: 100%;' src='
                                                            {% if like.likeReceiver.profilePhoto is null %}
                                                                {{ asset('member_assets/img/member.jpg') }}
                                                            {% else %}
                                                                {{ asset(vich_uploader_asset(like.likeReceiver.profilePhoto, 'imageFile',  'BaseBundle\\Entity\\Photo')) }}
                                                            {% endif %}
                                                        '>
                                                    </div>
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                            <span class="card-title">{{ like.likeReceiver.firstname }} {{ like.likeReceiver.lastname }}<br/>
                                                            <sub style='font-size: medium;'><span>Since {{ like.date|date }}</span></sub></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="answers">
                                <div class="answers_list">
                                    <div id="answers-display">
                                        <div style="width: 100%; text-align: center;">
                                            <a href="#add_answer_div" style="font-size: medium;">
                                                {% if available_questions_count != 0%}
                                                    You can still answer {{ available_questions_count }} question(s)
                                                {% else %}
                                                    You have answered all available questions
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% for answer in answers %}
                                            <div class="row card-container margins" style="width: 100%;">
                                                <div class="col-md-12">
                                                    <div class="card horizontal">
                                                        <div class="card-stacked">
                                                            <div class="card-content">
                                                                <span class="card-title">{{ answer.question.question }} - <span style="font-size: medium;">{% for key, value in topics %}{% if value == answer.question.topic %}{{ key }}{% endif %}{% endfor %}</span></span>
                                                                <p style="margin-left: 5%;">
                                                                    <b>Importance: </b>{% for key, value in importances %}{% if value == answer.importance %}{{ key }}{% endif %}{% endfor %}<br/>
                                                                    <b>Answer: </b>{{ answer.selectedChoice.choice }}<br/>
                                                                    <b>Accepted answers: </b>
                                                                    {% for choice in answer.choice %}
                                                                        {{ choice.choice }}
                                                                    {% endfor %}
                                                                </p>
                                                            </div>
                                                            <div class="card-action">
                                                                <span><b>Since: </b>{{ answer.date|date('F j, Y g:i A') }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="add_answer_div">
                                        {% if (available_questions_count) != 0 %}
                                            <div class="row card-container margins" style="width: 100%;">
                                                <div class="col-md-12">
                                                    <div id='answer-add' class="card horizontal clickable">
                                                        <div class="card-stacked">
                                                            <div class="card-content">
                                                                <h1 style="text-align: center" class="hoverable"><span class="glyphicon glyphicon-plus-sign"></span></h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="members_about_box" style="margin-top: 40px; height: 200px; overflow-y: auto;">
                            <h4>About me</h4><h5 style="float: right;" id="about-edit"><span class="glyphicon glyphicon-edit icons" aria-hidden="true"></span></h5>
                            <br/><textarea style="height: 70%; display: none;" id="about-input" placeholder="About..." class="form-control"></textarea>
                            <p id="about" style="margin-left: 3%; text-align: justify; text-indent: 8%;">{{ user.about }}</p>
                            <div id="no-about-container" style="width: 100%; height: 70%; display: {% if user.about != '' %}none{% else %}block{% endif %};">
                                <h5 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);"><a id="no-about">Write something</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="right_sidebar_area">
                        <aside class="s_widget photo_widget">
                            <div class="s_title">
                                <h4>Photo<label class="glyphicon glyphicon-plus hoverable" style="float: right;">
                                    {{ form_start(form, {'attr': {'id': 'photo-form', 'action': path('upload_photo')}}) }}
                                        {{ form_widget(form.imageFile, {'attr': {'style': 'display: none;'} }) }}
                                    {{ form_end(form) }}
                                </label></h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <ul id="photo-pane">
                                {% for photo in photos %}
                                    <li><a href="#" data-toggle="modal" data-target="#photo-display"><img data-id="{{ photo.id }}" class="photo" src="{{ asset(vich_uploader_asset(photo, 'imageFile')) }}" alt=""></a></li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('member_assets/vendors/bootstrap-datepicker/js/moment-with-locales.js') }}"></script>
    <script>
        var topics;
        var importances;

        $(function () {
            $('#basebundle_photo_imageFile_file').attr('accept', '.png, .jpg, .jpeg');
            topics = JSON.parse('{{ topics|json_encode|raw }}');
            importances = JSON.parse('{{ importances|json_encode|raw }}');
            generateMandatory();
        });

        function generateMandatory() {
            $('#loading-modal').modal('show');
            $.ajax({
                type: "POST",
                url: "{{ path('generate_mandatory_answer') }}",
                success: function (data) {
                    if(data.question != undefined){
                        $('#answer-modal-close').hide();

                        var topic;
                        $.each(topics, function (k, el) {
                            if(el == data.question.topic){
                                topic = k;
                                return false;
                            }
                        });
                        $('#topic').html(topic);
                        $('#question').html(data.question.question);
                        document.getElementById('question').dataset.id = data.question.id;
                        $('#choices').html("<option value=\"null\" disabled selected>Select an answer</option>");
                        $('#acceptableChoices').html('');
                        $.each(data.choices, function (k, el) {
                            $('#choices').append("<option value='"+el.id+"'>"+el.choice+"</option>");
                            $('#acceptableChoices').append("<input style='margin-left: 5%;' type='checkbox' class='form-check-input accepted_choices' id='"+el.id+"'/><label for='"+el.id+"'>"+el.choice+"</label>");
                        });
                        $('#importances').html('<option value="null" disabled selected>Select an importance for this answer</option>');
                        $.each(importances, function (k, el) {
                            $('#importances').append('<option value="'+el+'">'+k+'</option>');
                        });
                        $('#choice_error').html('');
                        $('#answer-form').modal({
                            backdrop: 'static',
                            keyboard: false,
                        });
                        $('#answer-form').data('bs.modal').options.backdrop = 'static';
                        $('#answer-form').data('bs.modal').options.keyboard = false;
                    }
                    $('#loading-modal').modal('hide');
                }
            });
        }

        function updateAbout() {
            var aboutVal = $('#about-input').val();
            $.ajax({
                type: "POST",
                url: "{{ path('update_about') }}",
                data: { about : aboutVal},
                success: function (data) {
                    $('#about-input').hide();
                    $('#about').html($('#about-input').val());
                    $('#about').show();
                    if($('#about').html() == ''){
                        $("#no-about-container").show();
                    }
                },
                error: function (data) {
                    $('#about-input').hide();
                    $('#about').show();
                    if($('#about').html() == ''){
                        $("#no-about-container").show();
                    }
                }
            });
        }
        
        function updatePhotoView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_photos') }}",
                success: function (data) {
                    $('#photo-pane').html('');
                    $.each(data, function (k, el) {
                        var path = "{{ asset('uploads/images/') }}"+el.image;
                        $('#photo-pane').append("" +
                            "<li>" +
                            "   <a href='#' data-toggle='modal' data-target='#photo-display'>" +
                            "       <img data-id='"+el.id+"' onclick='initPhotoModal(this)' class='photo' src='"+path+"'>"+
                            "   </a>" +
                            "</li>");
                    });
                }
            });
        }

        $('#delete-btn').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('delete_photo') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                }
            });
        });

        $('#set_cover').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('make_cover') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                    updateCoverView();
                }
            });
        });

        $('#set-profile').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('make_profile') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                    updateProfileView();
                }
            });
        });

        function updateCoverView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_cover_photo') }}",
                success: function (data) {
                    var coverImg = $('#cover');
                    if(data == null){
                        $(coverImg).attr('src', "{{ asset('member_assets/img/banner/banner-bg-2.jpg') }}");
                    }else{
                        var path = "{{ asset('uploads/images/') }}"+data.image;
                        $(coverImg).attr('src', path)
                    }
                }
            });
        }

        function updateProfileView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_profile_photo') }}",
                success: function (data) {
                    var profileImg = $('#profile');
                    if(data == null){
                        $(profileImg).attr('src', "{{ asset('member_assets/img/member.jpg') }}");
                    }else{
                        var path = "{{ asset('uploads/images/') }}"+data.image;
                        $(profileImg).attr('src', path)
                    }
                }
            });
        }

        function generateAnswer() {
            $('#loading-modal').modal('show');
            $.ajax({
                type: "POST",
                url: "{{ path('generate_answer') }}",
                success: function (data) {
                    console.log(data);
                    if(data.question != undefined){
                        var topic;
                        $.each(topics, function (k, el) {
                            if(el == data.question.topic){
                                topic = k;
                                return false;
                            }
                        });
                        console.log(importances);
                        $('#topic').html(topic);
                        $('#question').html(data.question.question);
                        document.getElementById('question').dataset.id = data.question.id;
                        $('#choices').html("<option value=\"null\" disabled selected>Select an answer</option>");
                        $('#acceptableChoices').html('');
                        $.each(data.choices, function (k, el) {
                            $('#choices').append("<option value='"+el.id+"'>"+el.choice+"</option>");
                            $('#acceptableChoices').append("<input style='margin-left: 5%;' type='checkbox' class='form-check-input accepted_choices' id='"+el.id+"'/><label for='"+el.id+"'>"+el.choice+"</label>");
                        });
                        $('#importances').html('<option value="null" disabled selected>Select an importance for this answer</option>');
                        $.each(importances, function (k, el) {
                            $('#importances').append('<option value="'+el+'">'+k+'</option>');
                        });
                        $('#choice_error').html('');
                        $('#loading-modal').modal('hide');
                        $('#answer-modal-close').show();
                        $('#answer-form').modal({
                            backdrop: true,
                            keyboard: true,
                        });
                        $('#answer-form').data('bs.modal').options.backdrop = true;
                        $('#answer-form').data('bs.modal').options.keyboard = true;
                    }else{
                        $("#answer-form").modal('hide');
                        $('#loading-modal').modal('hide');
                    }
                }
            });
        }

        $('#new_answer_form').submit(function (event) {
            event.preventDefault();
            if($('.accepted_choices:checked').length === 0){
                $('#choice_error').html('At least one acceptable answer must be selected');
                return;
            }else{
                $('#choice_error').html('');
                $("#answer-form").modal('hide');
                addAnswer();
            }
        });

        function addAnswer() {
            var acceptedChoicesIds = $.map($('.accepted_choices:checked'), function (val, i) {
                return $(val).attr('id');
            });
            var importanceId = $('#importances').val();
            var selectedChoiceId = $('#choices').val();
            var questionId = document.getElementById('question').dataset.id;
            var toSend = {question_id: questionId, accepted_choices_ids: acceptedChoicesIds, importance_id: importanceId, selected_choice_id: selectedChoiceId};
            console.log(toSend);
            $.ajax({
                type: "POST",
                url: "{{ path('add_answer') }}",
                data: { answer : toSend},
                success: function (data) {
                    generateMandatory();
                    updateAnswerView();
                }
            });
        }

        function updateAnswerView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_answers') }}",
                success: function (data) {
                    $('#answers-display').html('' +
                        '<a href="#add_answer_div">Available question to answer: '+data.question_count+'</a>' +
                        '');
                    if(data.question_count){
                        $('#add_answer_div').html('' +
                            '<div class="row card-container margins" style="width: 100%;">' +
                            '   <div class="col-md-12">' +
                            '       <div id="answer-add" onclick="generateAnswer();" class="card horizontal clickable">' +
                            '           <div class="card-stacked">' +
                            '               <div class="card-content">' +
                            '                   <h1 style="text-align: center" class="hoverable"><span class="glyphicon glyphicon-plus-sign"></span></h1>' +
                            '               </div>' +
                            '           </div>' +
                            '       </div>' +
                            '   </div>' +
                            '</div>' +
                            '');
                    }
                    $.each(data.answers, function (k, el) {
                        var topic;
                        $.each(topics, function (key, ele) {
                            if(ele == el.question.topic){
                                topic = key;
                                return false;
                            }
                        });
                        var importance;
                        $.each(importances, function (key, ele) {
                            if(ele == el.importance){
                                importance = key;
                                return false;
                            }
                        })
                        var acceptedChoices = el.choice;
                        var acceptedString = '';
                        $.each(acceptedChoices, function (k, el) {
                            acceptedString+= ' '+el.choice;
                        });
                        var dateObj = new Date(el.date.timestamp*1000);
                        dateObj.setTime( dateObj.getTime() + new Date().getTimezoneOffset()*60*1000 );
                        $('#answers-display').append("" +
                           "<div class=\"row card-container margins\" style=\"width: 100%;\">\n" +
                           "    <div class=\"col-md-12\">\n" +
                           "        <div class=\"card horizontal\">\n" +
                           "            <div class=\"card-stacked\">\n" +
                           "                <div class=\"card-content\">\n" +
                           "                    <span class=\"card-title\">"+el.question.question+" - <span style=\"font-size: medium;\">"+topic+"</span></span>\n" +
                           "                    <p style=\"margin-left: 5%;\">\n" +
                           "                        <b>Importance: </b>"+importance+"<br/>\n" +
                           "                        <b>Answer: </b>"+el.selectedChoice.choice+"<br/>\n" +
                           "                        <b>Accepted answers: </b>"+acceptedString+
                           "                    </p>\n" +
                           "                </div>\n" +
                           "                <div class=\"card-action\">\n" +
                           "                    <span><b>Since: </b>"+moment(dateObj.toString()).format('LLL')+"</span>\n" +
                           "                </div>\n" +
                           "            </div>\n" +
                           "        </div>\n" +
                           "    </div>\n" +
                           "</div>" +
                           "");
                    });
                }
            });
        }
    </script>
    <script src="{{ asset('member_assets/js/member/profile.js') }}"></script>
{% endblock %}
