{% extends "member_base.html.twig" %}

{% block title %}Profile | {{ user.firstname | capitalize }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('member_assets/css/card.css') }}" rel="stylesheet">
{% endblock %}

{% block banner %}
    <section class="banner_area profile_banner">
        <div style="height: 421px; overflow-y: hidden;">
            <img id="cover" class="photo" data-toggle="modal" data-target="#photo-display" src="
            {% if cover is null %}
                {{ asset('member_assets/img/banner/banner-bg-2.jpg') }}
            {% else %}
                {{ asset(vich_uploader_asset(cover, 'imageFile')) }}
            {% endif %}
        " style="width: 100%;" >
        </div>
        <div class="profiles_inners">
            <div class="container">
                <div class="profile_content">
                    <div class="user_img" data-toggle="modal" data-target="#photo-display" style="">
                        <img style="height: 270px; width: 270px;" id="profile" class="img-circle photo" src="
                            {% if profile is null %}
                                {{ asset('member_assets/img/member.jpg') }}
                            {% else %}
                                {{ asset(vich_uploader_asset(profile, 'imageFile')) }}
                            {% endif %}
                        " alt="">
                    </div>
                    <div class="user_name">
                        <h3>{{ user.firstname | capitalize }} {{ user.lastname | capitalize }}</h3>
                        <h4>{{ user.age }} years old</h4>
                        <ul>
                            <li><a href="#">{{ user.address.city }}, {{ user.address.country }}</a></li>
                            <li class="dropdown extara">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">80% Match</a>
                                <ul class="dropdown-menu">
                                    <li>Match</li>
                                    <li>
                                        <div class="circle1">
                                            <strong></strong>
                                        </div>
                                        <h4>Match</h4>
                                    </li>
                                    <li>
                                        <div class="circle2">
                                            <strong></strong>
                                        </div>
                                        <h4>Enemy</h4>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="right_side_content">
                        <button type="submit" value="LogIn" class="btn form-control login_btn">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div id="answer-form" class="modal fade centered-modal" role="dialog">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Directions</h4>
                </div>
                <div class="modal-body">
                    <div class="row card-container" style="width: 100%;">
                        <div class="col-md-12">
                            <div class="card horizontal" style=" height: 70vh;">
                                <div class="" style="width: 60%;">
                                    <div id="map_canvas"></div>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content" style="max-height: 100%;">
                                        <div class="row" style="height: 100%; max-height: 100%;">
                                            <div class="card" style="height: 100%;">
                                                <div class="card-image" style="min-width: 100%; min-height: 40%; overflow: hidden; ">
                                                    <img id="place-img" style='min-width: 100%; min-height: 100%;' src="{{ asset('member_assets/img/who-we-right.jpg') }}">
                                                </div>
                                                <div class="card-content" style="overflow-y: auto; max-height: 60%;">
                                                    <div class="card-title">
                                                        <span id="place-name">Card Title</span><br/>
                                                        <div  style="font-size: medium;">
                                                            <div class="stars-outer">
                                                                <div id="start" class="stars-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="open"></div>
                                                    <div id="place-address"></div>
                                                    <span id="phone-number"></span><br/>
                                                    <span id="website"></span>
                                                    <br/>
                                                    <br/>
                                                    <b>Reviews:</b><br/>
                                                    <div id="reviews" style="margin-bottom: 20px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="photo-display" class="modal fade centered-modal" role="dialog">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Photo</h4>
                </div>
                <div class="modal-body">
                    <div class="row card-container" style="width: 100%;">
                        <div class="col-md-12">
                            <div class="card horizontal" style=" height: 70vh;">
                                <div class="card-stacked">
                                    <div class="card-content" style="width: 100%; max-height: 90%;">
                                        <img data-id="0" style="max-width: 100%; max-height: 100%;" src="" id="img-canvas"/>
                                    </div>
                                    <div class="card-action" >
                                        <button id="set-profile" style="float: right; margin-left: 20px;" type="button" class="btn btn-default btn-md">Set as profile photo</button>
                                        <button id="set_cover" style="float: right; margin-left: 20px;" type="button" class="btn btn-default btn-md">Set as cover photo</button>
                                        <button id="delete-btn" style="float: right;" type="button" class="btn btn-default btn-md">Delete photo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="blog_grid_area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="members_profile_inners">
                        <ul class="nav nav-tabs profile_menu" role="tablist">
                            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                            <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">Likes</a></li>
                            <li role="presentation"><a href="#answers" aria-controls="answers" role="tab" data-toggle="tab">Answers</a></li>
                        </ul>
                        <div class="tab-content" style="height: 400px; overflow-y: auto;">
                            <div role="tabpanel" class="tab-pane active fade in" id="profile">
                                <div class="profile_list">
                                    <ul>
                                        <li><b>Gender</b></li>
                                        <li><b>Birthdate</b></li>
                                        <li><b>Height</b></li>
                                        <li><b>Body type</b></li>
                                        <li><b>Smoker</b></li>
                                        <li><b>Drinker</b></li>
                                        <li style="visibility: hidden;"><b>Looking for a</b></li>
                                        <li style="visibility: hidden;"><b>Work as</b></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            {% if( user.gender ) %}
                                                Male
                                            {% else %}
                                                Female
                                            {% endif %}
                                        </li>
                                        <li>{{ user.birthDate | date('F d, Y') }}</li>
                                        <li>{{ user.height }}</li>
                                        <li>{{ user.bodyType }}</li>
                                        <li>
                                            {% if( user.smoker ) %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if( user.drinker ) %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </li>
                                        <li style="visibility: hidden;"><a href="#">sss</a></li>
                                        <li style="visibility: hidden;"><a href="#">sss</a></li>
                                    </ul>
                                    <ul>
                                        <li><b>Religion</b></li>
                                        <li><b>Marital status</b></li>
                                        <li><b>Number of children</b></li>
                                        <li><b>Member since</b></li>
                                        <li><b>Prefered relations</b></li>
                                        <li><b>Prefered marital statuses</b></li>
                                        <li><b style="visibility: hidden;">Looking for a</b></li>
                                        <li><b style="visibility: hidden;">Work as</b></li>
                                    </ul>
                                    <ul>
                                        <li>{{ user.relegion }}</li>
                                        <li>{{ user.civilStatus  }}</li>
                                        <li>{{ user.childrenNumber }}</li>
                                        <li>{{ user.createdAt | date('F d, Y') }}</li>
                                        <li>
                                            {% for relation in user.preferedRelations %}
                                                {{ relation.relation }}
                                            {% endfor %}
                                        </li>
                                        <li>
                                            {% for status in user.preferedStatuses %}
                                                {{ status.status }}
                                            {% endfor %}
                                        </li>
                                        <li><b style="visibility: hidden;">Man</b></li>
                                        <li><b style="visibility: hidden;">Designer </b></li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="likes">
                                <div class="profile_list">
                                    {% for like in likes %}
                                        <div class="row card-container margins" style="width: 100%;">
                                            <div class="col-md-12">
                                                <div id='place-' class="card horizontal clickable profile" data-path="{{ path('other_profile', {'id': like.likeReceiver.id}) }}">
                                                    <div class="card-image" style="width: 25%; min-width: 120px; overflow: hidden; ">
                                                        <img style='min-width: 100%; min-height: 100%;' src=''>
                                                    </div>
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                            <span class="card-title">{{ like.likeReceiver.firstname }} {{ like.likeReceiver.lastname }}<br/>
                                                            <sub style='font-size: medium;'><span>Since {{ like.date|date }}</span></sub></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="answers">
                                <div class="profile_list">
                                    {% for answer in answers %}
                                        <div class="row card-container margins" style="width: 100%;">
                                            <div class="col-md-12">
                                                <div class="card horizontal">
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                            <span class="card-title">{{ answer.question.question }} - <span style="font-size: medium;">{% for key, value in topics %}{% if value == answer.question.topic %}{{ key }}{% endif %}{% endfor %}</span></span>
                                                            <p style="margin-left: 5%;">
                                                                <b>Answer: </b>{{ answer.selectedChoice.choice }}<br/>
                                                                <b>Accepted answers: </b>
                                                                {% for choice in answer.choice %}
                                                                    {{ choice.choice }}
                                                                {% endfor %}
                                                            </p>
                                                        </div>
                                                        <div class="card-action">
                                                            <span>Since {{ answer.date|date }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row card-container margins" style="width: 100%;">
                                        <div class="col-md-12">
                                            <div id='answer-add' class="card horizontal clickable" data-toggle="modal" data-target="#answer-form">
                                                <div class="card-stacked">
                                                    <div class="card-content">
                                                        <h1 style="text-align: center" class="hoverable"><span class="glyphicon glyphicon-plus-sign"></span></h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="members_about_box" style="margin-top: 40px; height: 200px; overflow-y: auto;">
                            <h4>About me</h4><h5 style="float: right;" id="about-edit"><span class="glyphicon glyphicon-edit icons" aria-hidden="true"></span></h5>
                            <br/><textarea style="height: 70%; display: none;" id="about-input" placeholder="About..." class="form-control"></textarea>
                            <p id="about" style="margin-left: 3%; text-align: justify; text-indent: 8%;">{{ user.about }}</p>
                            <div id="no-about-container" style="width: 100%; height: 70%; display: {% if user.about != '' %}none{% else %}block{% endif %};">
                                <h5 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);"><a id="no-about">Write something</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="right_sidebar_area">
                        <aside class="s_widget photo_widget">
                            <div class="s_title">
                                <h4>Photo<label class="glyphicon glyphicon-plus hoverable" style="float: right;">
                                    {{ form_start(form, {'attr': {'id': 'photo-form', 'action': path('upload_photo')}}) }}
                                        {{ form_widget(form.imageFile, {'attr': {'style': 'display: none;'} }) }}
                                    {{ form_end(form) }}
                                </label></h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <ul id="photo-pane">
                                {% for photo in photos %}
                                    <li><a href="#" data-toggle="modal" data-target="#photo-display"><img data-id="{{ photo.id }}" class="photo" src="{{ asset(vich_uploader_asset(photo, 'imageFile')) }}" alt=""></a></li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        function updateAbout() {
            var aboutVal = $('#about-input').val();
            $.ajax({
                type: "POST",
                url: "{{ path('update_about') }}",
                data: { about : aboutVal},
                success: function (data) {
                    $('#about-input').hide();
                    $('#about').html($('#about-input').val());
                    $('#about').show();
                    if($('#about').html() == ''){
                        $("#no-about-container").show();
                    }
                },
                error: function (data) {
                    $('#about-input').hide();
                    $('#about').show();
                    if($('#about').html() == ''){
                        $("#no-about-container").show();
                    }
                }
            });
        }
        
        function updatePhotoView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_photos') }}",
                success: function (data) {
                    $('#photo-pane').html('');
                    $.each(data, function (k, el) {
                        var path = "{{ asset('uploads/images/') }}"+el.image;
                        $('#photo-pane').append("" +
                            "<li>" +
                            "   <a href='#' data-toggle='modal' data-target='#photo-display'>" +
                            "       <img data-id='"+el.id+"' onclick='initPhotoModal(this)' class='photo' src='"+path+"'>"+
                            "   </a>" +
                            "</li>");
                    });
                }
            });
        }

        $('#delete-btn').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('delete_photo') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                }
            });
        });

        $('#set_cover').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('make_cover') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                    updateCoverView();
                }
            });
        });

        $('#set-profile').click(function () {
            var imgId = document.getElementById('img-canvas').dataset.id;
            $.ajax({
                type: "POST",
                url: "{{ path('make_profile') }}",
                data: { id : imgId},
                success: function (data) {
                    $('#photo-display').modal('toggle');
                    updatePhotoView();
                    updateProfileView();
                }
            });
        });

        function updateCoverView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_cover_photo') }}",
                success: function (data) {
                    var coverImg = $('#cover');
                    if(data == null){
                        $(coverImg).attr('src', "{{ asset('member_assets/img/banner/banner-bg-2.jpg') }}");
                    }else{
                        var path = "{{ asset('uploads/images/') }}"+data.image;
                        $(coverImg).attr('src', path)
                    }
                }
            });
        }

        function updateProfileView() {
            $.ajax({
                type: "POST",
                url: "{{ path('get_profile_photo') }}",
                success: function (data) {
                    var profileImg = $('#profile');
                    if(data == null){
                        $(profileImg).attr('src', "{{ asset('member_assets/img/member.jpg') }}");
                    }else{
                        var path = "{{ asset('uploads/images/') }}"+data.image;
                        $(profileImg).attr('src', path)
                    }
                }
            });
        }
    </script>
    <script src="{{ asset('member_assets/js/member/profile.js') }}"></script>
{% endblock %}
