{% extends "member_base.html.twig" %}

{% block title %}News Feed | MySoulmate{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("member_assets/css/newsfeed/newsfeed.css") }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ asset("member_assets/js/jquery-2.1.4.min.js") }}"></script>
    <script src="{{ asset("member_assets/js/newsfeed.js") }}"></script>
{% endblock %}

{% block banner %}
    <!--<section class="banner_area">
        <div class="container">
            <div class="banner_content">
                <h3 title="Discussions"><img class="left_img" src="{{ asset('member_assets/img/banner/t-left-img.png') }}" alt="">News Feed<img class="right_img" src="{{ asset('member_assets/img/banner/t-right-img.png') }}" alt=""></h3>
                <a href="">Home</a>
            </div>
        </div>
    </section>-->
{% endblock %}

{% block body %}
    <!-- Data elements -->
    <div id="create_post_path" data-path = "{{ path('create_post') }}"></div>
    <div id="edit_post_path" data-path = "{{ path('edit_post') }}"></div>
    <div id="edit_comment_path" data-path = "{{ path('edit_comment') }}"></div>
    <div id="delete_post_path" data-path = "{{ path('delete_post') }}"></div>
    <div id="delete_comment_path" data-path = "{{ path('delete_comment') }}"></div>
    <div id="react_path" data-path = "{{ path('react') }}"></div>
    <div id="add_comment_path" data-path = "{{ path('add_comment') }}"></div>
    <div id="edit_icon_path" data-path = "{{ asset("member_assets/img/edit.png") }}"></div>
    <div id="delete_icon_path" data-path = "{{ asset("member_assets/img/close.png") }}"></div>
    <div id="emoticon_path" data-path = "{{ asset("member_assets/img/Emoticons/") }}"></div>
    <div id="selected_post" data-id=""></div>
    <div id="online_id" data-id="{{ online.id }}"></div>
    <div id="status_type" data-type="{{ StatusType }}"></div>
    <div id="picture_type" data-type="{{ PictureType }}"></div>

    <!-- Edit Post Modal -->
    <div class="modal fade" id="edit_post_modal" tabindex="-1" role="dialog" aria-labelledby="edit_post_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="media-left">
                        <img class="post_pic" src="{{ photo }}" alt="">
                    </div>
                    <div class="media-body">
                        <textarea id="modal_post" class="textarea"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save_changes" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Post Modal -->
    <div class="modal fade" id="delete_post_modal" tabindex="-1" role="dialog" aria-labelledby="delete_post_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body">
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Grid -->
    <section class="blog_grid_area">
        <div id="online_name" data-name = "{{ online.firstname ~ ' ' ~ online.lastname }}"></div>
        <div class="container">
            <div class="row">

                <!-- Suggestions -->
                <div class="col-md-3" id="suggestions">

                </div>

                <!-- NewsFeed -->
                <div class="col-md-5">
                    <div class="community_activity">

                        <!-- Writing Space -->
                        <div class="media">
                            <div class="media-left">
                                <img id="post_writing_pic" class="post_pic" src="{{ photo }}" alt="">
                            </div>
                            <div class="media-body">
                                <!--<div contenteditable="true" id="post_space" class="writing_post" data-text="Share your thoughts..." hidden></div>-->
                                <textarea id="post_space" class="textarea" placeholder="Share your thoughts..."></textarea>
                                <hr>
                                <button id="post_button" class="btn btn-default">Post</button>
                            </div>
                        </div>

                        <!-- Posts -->
                        <div id="feed">
                        {% for post in posts %}
                            <div class="media">

                                <!-- Edit/Delete Buttons -->
                                {% if post.type == StatusType and post.user.id == online.id %}
                                    <div class="update_box">
                                        <button class="button" data-toggle="modal" data-target="#edit_post_modal" onclick="updateModalText({{ post.id }})"><img class="update_img" src="{{ asset("member_assets/img/edit.png") }}"></button>
                                        <button class="button" data-toggle="modal" data-target="#delete_post_modal" onclick="showDeleteModal({{ post.id }}, 0)"><img class="update_img" src="{{ asset("member_assets/img/close.png") }}"></button>
                                    </div>
                                {% endif %}

                                <!-- Post Body -->
                                <div class="media-left">
                                    <img class="post_pic" src="{{ post.photoUrl }}" alt="">
                                </div>
                                <div class="media-body">
                                    <b>{{ post.user.firstname ~ ' ' ~ post.user.lastname }}</b>
                                    <p>{{ post.date | date('d-m-Y') }}</p><br>
                                    {% if post.type == StatusType %}
                                        <p id="{{ post.id }}">{{ post.content | raw }}</p>
                                    {% elseif post.type == PictureType %}
                                        <img class="pic_post" src="{{ post.content }}">
                                    {% endif %}
                                </div>
                                <hr>

                                <!-- Reactions -->
                                <div class="reaction-box">
                                    <!-- Statistics -->
                                    <span class="reaction-statistics">
                                        {% for r in post.stats.reactions %}
                                            <img src="{{ asset('member_assets/img/Emoticons/' ~ r ~ '.png') }}" class="emo-stat">
                                        {% endfor %}
                                        <span id="{{ post.id }}-nbr-reaction" data-nbr="{{ post.stats.nbrReaction - 1 }}">
                                            {% if post.stats.nbrReaction != 0 %}
                                                {% if post.currentReaction != -1 %}
                                                    You
                                                    {% if post.stats.nbrReaction > 1 %}
                                                        and {{ post.stats.nbrReaction - 1 }} others
                                                    {% endif %}
                                                {% else %}
                                                    {{ post.stats.nbrReaction }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% if post.stats.nbrComment != 0 %}
                                            &nbsp;
                                            <img src="{{ asset('member_assets/img/Emoticons/comment.png') }}" class="emo-stat">
                                            <span id="{{ post.id }}-nbr-comment" data-nbr="{{ post.stats.nbrComment }}">
                                                {{ post.stats.nbrComment }}
                                            </span>
                                        {% endif %}
                                    </span>

                                    <!-- React Action -->
                                    <div class="react-action">
                                        <span id="{{ post.id }}-current-reaction"></span>
                                        {% if post.user.id != online.id %}
                                        <button class="button" id="{{ post.id }}-react" onmouseenter="show({{ post.id }})" onmouseleave="hide({{ post.id }})" onclick="react({{ post.id }}, {{ post.type}}, 'None')">
                                            {% if post.currentReaction == -1 %}
                                                <p>React</p>
                                            {% else %}
                                                <img class="button-icon" src="{{ asset('member_assets/img/Emoticons/' ~ post.stats.currReacTitle ~ '.png') }}">
                                                <p>{{ post.stats.currReacTitle }}</p>
                                            {% endif %}
                                        </button>{% endif %}<button class="button" onclick="toggleComments({{ post.id }})">
                                            <img class="button-icon" src="{{ asset('member_assets/img/Emoticons/comment.png') }}">
                                            <p>Comment</p>
                                        </button>
                                        {% if post.user.id != online.id %}
                                            <div id="{{ post.id }}-popup" class="reaction-popup">
                                                <img src="{{ asset('member_assets/img/Emoticons/Smile.png') }}" class="emoticon" onclick="react({{ post.id }}, {{ post.type}}, 'Smile')">
                                                <img src="{{ asset('member_assets/img/Emoticons/Love.png') }}" class="emoticon" onclick="react({{ post.id }}, {{ post.type}}, 'Love')">
                                                <img src="{{ asset('member_assets/img/Emoticons/Laugh.png') }}" class="emoticon" onclick="react({{ post.id }}, {{ post.type}}, 'Laugh')">
                                                <img src="{{ asset('member_assets/img/Emoticons/Scowl.png') }}" class="emoticon" onclick="react({{ post.id }}, {{ post.type}}, 'Scowl')">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Comment Box -->
                                <div class="comment-box" id="{{ post.id }}-comment-box">
                                    <div id="{{ post.id }}-comments">
                                        {% for comment in post.comments %}
                                            <!-- Comment section -->
                                            <div class="comment-sub-box">
                                                <div class="comment-profile-pic">
                                                    <img class="comment_pic" src="{{ comment.profilePhoto }}">
                                                </div>
                                                <div class="comment-body comment">
                                                    <p id="{{ comment.id }}-comment-content">{{ comment.content | raw }}</p>
                                                </div>

                                                <!-- Update/Delete comment -->
                                                {% if comment.sender.id == online.id %}
                                                    <div class="update-comment-box">
                                                        <span class="button far fa-edit" onclick="updateModalText({{ comment.id }})" data-toggle="modal" data-target="#edit_post_modal"></span><span class="button far fa-trash-alt" onclick="showDeleteModal({{ comment.id }}, {{ post.id }})" data-toggle="modal" data-target="#delete_post_modal"></span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Writing comment section -->
                                    <div class="writing-comment">
                                        <div class="comment-profile-pic">
                                            <img class="comment_pic" src="{{ photo }}" alt="">
                                        </div>
                                        <div class="comment-body comment comment-border comment-space">
                                            <textarea id="{{ post.id }}-comment-space" class="comment-space" placeholder="Leave a comment..." onkeypress="addComment(event, {{ post.id }}, {{ post.type }})"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Adverts -->
                <div class="col-md-4">
                    <div class="right_sidebar_area">
                        <!-- *****Default template content*****
                        <aside class="s_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </aside>
                        <aside class="s_widget recent_post_widget">
                            <div class="s_title">
                                <h4>Memers</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <div class="mbedia">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-1.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Maria Doe</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-2.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Alex Jones</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-3.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Nancy Martin</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-4.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Kavin Smith</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                        </aside>
                        <aside class="s_widget group_widget">
                            <div class="s_title">
                                <h4>Groups</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <div class="group_list">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-1.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-2.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-3.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <aside class="s_widget replies_widget">
                            <div class="s_title">
                                <h4>Recent Replies</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ut sed massa eget tellus.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Integer non odio ullamcorper.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Vestibulum facilisis lacus in nunc.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Morbi euismod turpis finibus.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Nunc quis sapien a nunc luctus</a></li>
                            </ul>
                        </aside>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
