{% extends "member_base.html.twig" %}

{% block title %}News Feed{% endblock %}

{% block banner %}
    <section class="banner_area">
        <div class="container">
            <div class="banner_content">
                <h3 title="Discussions"><img class="left_img" src="{{ asset('member_assets/img/banner/t-left-img.png') }}" alt="">News Feed<img class="right_img" src="{{ asset('member_assets/img/banner/t-right-img.png') }}" alt=""></h3>
                <a href="">Home</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="blog_grid_area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="community_activity">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('member_assets/img/members/community/community-1.png') }}" alt="">
                            </div>
                            <div class="media-body">
                                <h3>David Parker <span>and</span> Maria Watson <span>are now friends</span></h3>
                                <h4>3 Days Ago</h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('member_assets/img/members/community/community-1.png') }}" alt="">
                            </div>
                            <div class="media-body">
                                <h3>David Parker and Maria Watson <span>are now friends</span></h3>
                                <h4>3 Days Ago</h4>
                                <img src="{{ asset('member_assets/img/members/community/community-big-1.png') }}" alt="">
                                <img src="{{ asset('member_assets/img/members/community/community-big-2.png') }}" alt="">
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('member_assets/img/members/community/community-1.png') }}" alt="">
                            </div>
                            <div class="media-body">
                                <h3>David Parker and Maria Watson <span>are now friends</span></h3>
                                <h4>3 Days Ago</h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('member_assets/img/members/community/community-2.png') }}" alt="">
                            </div>
                            <div class="media-body">
                                <h3>David Parker and Maria Watson <span>are now friends</span></h3>
                                <h4>3 Days Ago</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="right_sidebar_area">
                        <aside class="s_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </aside>
                        <aside class="s_widget recent_post_widget">
                            <div class="s_title">
                                <h4>Members</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-1.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Maria Doe</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-2.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Alex Jones</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-3.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Nancy Martin</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="img-circle" src="{{ asset('member_assets/img/members/w-members/w-m-4.png') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Kavin Smith</h4>
                                    <a href="#">Active 16 hours ago</a>
                                </div>
                            </div>
                        </aside>
                        <aside class="s_widget group_widget">
                            <div class="s_title">
                                <h4>Groups</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <div class="group_list">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-1.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-2.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="img-circle" src="{{ asset('member_assets/img/photo/group/group-3.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>VeroDate Lovers</h4>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <aside class="s_widget replies_widget">
                            <div class="s_title">
                                <h4>Recent Replies</h4>
                                <img src="{{ asset('member_assets/img/widget-title-border.png') }}" alt="">
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ut sed massa eget tellus.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Integer non odio ullamcorper.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Vestibulum facilisis lacus in nunc.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Morbi euismod turpis finibus.</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Nunc quis sapien a nunc luctus</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
