{% for r in post.stats.reactions %}
    <img src="{{ asset('member_assets/img/Emoticons/' ~ r ~ '.png') }}" class="emo-stat">
{% endfor %}
<span id="{{ post.id }}-nbr-reaction" data-nbr="{{ post.stats.nbrReaction - 1 }}">
    {% if post.stats.nbrReaction != 0 %}
        {% if post.currentReaction != -1 %}
            You
            {% if post.stats.nbrReaction > 1 %}
                and {{ post.stats.nbrReaction - 1 }} others
            {% endif %}
        {% else %}
            {{ post.stats.nbrReaction }}
        {% endif %}
    {% endif %}
</span>
{% if post.stats.nbrComment != 0 %}
    &nbsp;
    <img src="{{ asset('member_assets/img/Emoticons/comment.png') }}" class="emo-stat">
    <span id="{{ post.id }}-nbr-comment" data-nbr="{{ post.stats.nbrComment }}">
        {{ post.stats.nbrComment }}
    </span>
{% endif %}