{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="card-content">
    <span class="card-title">Change Password</span>
    <hr/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                {{ form_label(form.current_password) }}
                <div class="text-danger">
                    {{ form_errors(form.current_password) }}
                </div>
                {{ form_widget(form.current_password, { 'attr': {'class': "form-control first-control control", 'placeholder': 'Current Password'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                <div class="text-danger">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': "form-control first-control control", 'placeholder': 'New Password'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                <div class="text-danger">
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': "form-control first-control control", 'placeholder': 'Confirm Password'} }) }}
            </div>
        </div>
    </div>
</div>
<div class="card-action">
    <div class="row">
        <input type="submit" class="btn btn-primary" style="margin-right: 40px; float: right;" value="{{ 'change_password.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
