
<!-- <link href="{{ asset('member_assets/vendors/magnific-popup/magnific-popup.css') }}" rel="stylesheet">


<div class="register_form_inner zoom-anim-dialog mfp-hide" id="report_form">
    <div class="row"> -->
{% block body %}
    <h1>Vous pouvez ajouter un signal</h1>
    <fieldset>
    {{ form_start(form) }}
        {{ form_widget(form.reason) }}
        {{ form_widget(form.state) }}
        {{ form_widget(form.content) }}
        {{ form_widget(form.receiver) }}
        {{ form_widget(form.sender) }}
        <input type="submit" value="Submit" />
    {{ form_end(form) }}
    </fieldset>

    <ul>
        <li>
            <a href="{{ path('Signal_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

<!--
</div>
    </div>
<script src="{{ asset('member_assets/vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script> -->
