{% extends 'business_base.html.twig' %}
{% block title %}Event | Create{% endblock %}
{% block page_title %}Event creation form{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('business_assets/css/bootstrap-datetimepicker.css') }}">
{% endblock %}



{% block body %}


        <h1>Ajouter Event</h1>
         {{ form_start(form,{'attr':{'id':'add_event_form'}}) }}
    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">Name event </label><br>
            {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">content </label><br>
            {{ form_widget(form.content, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label style="color: #0a0a0a" class="control-label" for="company-name">image {{ form_widget(form.photoUrl) }}  </label></br>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">max places </label><br>
            {{ form_widget(form.maxPlaces, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>



    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name" id="start">Start Date </label><br>
            {{ form_widget(form.startDate) }}
        </div>
    </div>


    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name" id="end">End Date </label><br>
            {{ form_widget(form.endDate) }}
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="warning" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-warning"></i> Warning, Please fill all the fields
    </div>

    <div class="demo-button">
        <div class="demo-button">
            <input type="submit" value="Add" id="test" class="test"/>
        </div>
    </div>

        {{ form_end(form) }}

{% endblock %}


{% block scripts %}
    <script src="{{ asset('member_assets/js/jquery-3.2.1.min.js') }} "></script>
    <script src="{{ asset('member_assets/js/events.js') }}"></script>
{% endblock %}




