{% extends 'business_base.html.twig' %}
{% block title %}Event | Create{% endblock %}
{% block page_title %}Event creation form{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('business_assets/css/bootstrap-datetimepicker.css') }}">
{% endblock %}



{% block body %}


        <h1>Ajouter Event</h1>
    {{ form_start(form,{'attr':{'id':'add_event_form'}}) }}
    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" class="required"  for="first-name">Name event </label><br>
            {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">content </label><br>
            {{ form_widget(form.content, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label style="color: #0a0a0a" class="control-label" for="company-name">image {{ form_widget(form.photoUrl, {'attr':{'class':'form-control'}}) }}  </label></br>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">max places </label><br>
            {{ form_widget(form.maxPlaces, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>



    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name" id="start">Start Date </label><br>
            {{ form_widget(form.startDate, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>


    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name" id="end">End Date </label><br>
            {{ form_widget(form.endDate, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="warning" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-warning"></i> Warning, Please fill all the fields
    </div>



    {{ form_end(form) }}

{% endblock %}


{% block scripts %}
    <script src="{{ asset('member_assets/js/events.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#basebundle_event_endDate').removeClass('form-control').find('select').addClass('myselect')
            $('#basebundle_event_startDate').removeClass('form-control').find('select').addClass('myselect')
        })
        $("#basebundle_event_valider").click(function (event) {
            var start = new Date(
                $('#basebundle_event_startDate_date_year').val()
                ,
                $('#basebundle_event_startDate_date_month').val()-1
                ,
                $('#basebundle_event_startDate_date_day').val());
            var end = new Date(
                $('#basebundle_event_endDate_year').val()
                ,
                $('#basebundle_event_endDate_month').val()-1
                ,
                $('#basebundle_event_endDate_day').val());

            var s = (end.getTime()-start.getTime());
            var diff = Math.ceil(s / (1000 * 3600 * 24));
            console.log(start)
            console.log(end)
            console.log(s)
            console.log(diff)
            if(diff<0){
                alert("Invalid date");
                event.preventDefault();
            }
        })

    </script>
{% endblock %}



