{% extends 'business_base.html.twig' %}
{% block title %}Event | Create{% endblock %}
{% block page_title %}Event {% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}


{% block body %}


    <h1>Edit Event</h1>
    {{ form_start(edit_form) }}

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">Name event </label><br>
            {{ form_widget(edit_form.title, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">Description </label><br>
            {{ form_widget(edit_form.content, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label style="color: #0a0a0a" class="control-label" for="company-name">image {{ form_widget(edit_form.photoUrl) }}  </label></br>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">max places </label><br>
            {{ form_widget(edit_form.maxPlaces, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>


    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">Start Date </label><br>
            {{ form_widget(edit_form.startDate) }}
        </div>
    </div>


    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label  style="color: #0a0a0a" class="control-label" for="first-name">End Date </label><br>
            {{ form_widget(edit_form.endDate) }}
        </div>
    </div>


    {{ form_end(edit_form) }}


{% endblock %}
{% block scripts %}
    <script src="{{ asset('member_assets/js/events.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#basebundle_event_endDate').removeClass('form-control').find('select').addClass('myselect')
            $('#basebundle_event_startDate').removeClass('form-control').find('select').addClass('myselect')
        })
        $("#basebundle_event_valider").click(function (event) {
            var start = new Date(
                $('#basebundle_event_startDate_date_year').val()
                ,
                $('#basebundle_event_startDate_date_month').val()-1
                ,
                $('#basebundle_event_startDate_date_day').val());
            var end = new Date(
                $('#basebundle_event_endDate_year').val()
                ,
                $('#basebundle_event_endDate_month').val()-1
                ,
                $('#basebundle_event_endDate_day').val());

            var s = (end.getTime()-start.getTime());
            var diff = Math.ceil(s / (1000 * 3600 * 24));
            console.log(start)
            console.log(end)
            console.log(s)
            console.log(diff)
            if(diff<0){
                alert("Invalid date");
                event.preventDefault();
            }
        })

    </script>
{% endblock %}
