{% extends 'business_base.html.twig' %}
{% block title %}Event | List{% endblock %}
{% block page_title %}Event list{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block body %}


    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Event</h3>
        </div>

        <div id="selected_post" data-id=""></div>
        <div class="panel-body">

            <div id="selected_post" data-id=""></div>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Photo</th>
                    <th>Max places</th>



                </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.title }}</td>
                            <td>{{ event.content }}</td>
                            <td>{{ event.startDate | date('y-M-d') }}</td>
                            <td>{{ event.endDate | date('y-M-d') }}</td>
                            <td>{{ event.photoUrl }}</td>
                            <td>{{ event.maxPlaces }}</td>
                            <td><a href="{{ path('business_events_delete',{'id':event.id}) }}">Delete</a></td>
                            <td><a href="{{ path('business_events_edit',{'id':event.id}) }}">Edit</a></td>
                            <td><a href="{{ path('business_events_listp',{'id':event.id}) }}">listparticipant</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
