{% extends 'business_base.html.twig' %}
{% block title %}Event | List{% endblock %}
{% block page_title %}Event list{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block body %}


    <div id="business_events_delete" data-path = "{{ path('business_events_delete') }}"></div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Event</h3>
        </div>

        <div id="selected_post" data-id=""></div>
        <div class="panel-body">
            <label for='Recherche' class="menu-item kode-parent-menu" style="color: dodgerblue">Recherche :</label>
            <input type="text" name="search" id="search" />
            <br><br>
            <div id="selected_post" data-id=""></div>
            <table class="table" id="contenu" >
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Photo</th>
                    <th>Max places</th>
                    <th>N°participant</th>
                    <th>Actions</th>


                </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr id="{{ event.id }}">
                            <td>{{ event.title }}</td>
                            <td>{{ event.content }}</td>
                            <td>{{ event.startDate | date('y-M-d') }}</td>
                            <td>{{ event.endDate | date('y-M-d') }}</td>
                            <td>{{ event.photoUrl }}</td>
                            <td>{{ event.maxPlaces }}</td>
                            <td>{{ event.user|length }}</td>
                            <td><button class="btn btn-danger" onclick="delete_event({{ event.id }})"><i class="fa fa-trash-o" ></i><a>Delete</a></button></td>
                            <td><button type="button" class="btn btn-warning" ><i class="fa fa-warning"></i><a href="{{ path('business_events_edit', {'id':event.id}) }}"> Modify </a></button></td>
                            <td><button type="button" class="btn btn-primary" ><i class="fa fa-2x"></i><a href="{{ path('business_events_listp', {'id':event.id}) }}"> list participant </a></button></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script src="{{ asset('business_assets/js/jquery-3.2.1.js') }}"></script>

    <script>

        function delete_event(id) {
            var DATA = {'id':id};
            var path = $("#business_events_delete").data('path');
            $.ajax({
                type: 'POST',
                data: DATA,
                url: path,
                success: function(data){
                    $("#" + id).remove();
                }

            });
        }

        $(document).ready( function() {
            // déterminer l'index des colonnes les colonnes
            var colonnes = {};
            $("#contenu thead th").each(function(index, th)
                {
                    colonnes[index] = $(th).text();
                }
            );

// faire la recherche dans le tableau
            $("#search").keyup(function()
            {
                var mots = $(this).val().toLowerCase().split(" ");
                $("#contenu tbody tr").each(function(index, tr)
                {
                    if (mots[0].length > 0) $(tr).hide(); else $(tr).show();
                    $("td", tr).each(function(index, td)
                    {
                        if (colonnes[index] in {'Title':true,'content':true})
                        {
                            for (mot in mots)
                            {
                                if (mots[mot].length > 0 && $(td).text().toLowerCase().indexOf(mots[mot])>= 0)
                                {
                                    $(tr).show();
                                    return false;
                                }
                            }
                        }
                    });
                });
            });

        });

    </script>

{% endblock %}
