{% extends 'admin_base.html.twig' %}


{% block title %}AdminBusinessBundle:Advert:Lister{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin_assets/') }}css/style.css">
{% endblock %}
{% block scripts %}
    <script src="{{ asset('business_assets/') }}js/jq/jquery.countdown.js"></script>
    <script src="{{ asset('business_assets/') }}js/jq/jquery.countdown.min.js"></script>
    <script >
        {% for m in pubs %}
        {% for i in [1..10] %}
        $(document).ready(function () {

            $('#{{ m.id }}')
                .countdown("{{ m.endDate | date('Y/m/d')}}",  function (event) {
                    $(this).text(
                        event.strftime('%D days %H:%M:%S')
                    );
                });

        });
        {% endfor %}
        {% endfor %}
        {% for m in pubs %}

        $('#dlt{{ m.id }}').click(function (){
            $('#a{{ m.id }}').remove();
            $.ajax({
                url: "{{path('supprimer_admin')}}",
                type: "POST",
                cache: false,
                data: {
                    "id" : {{ m.id }}
                }

            });
        });
        {% endfor %}


        $('#delete').click(function (){
            var id = $("#selected_post").data('id');
            $('#a'+id).remove();
            $.ajax({
                url: "{{path('delete_post_business')}}",
                type: "POST",
                cache: false,
                data: {
                    "id" : id
                }

            });

        });


        function showDeleteModal(id) {
            $("#selected_post").data('id',id);
        }
    </script>


{% endblock %}
  {% block navbar %}
      <!-- NAVBAR -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="brand">
              <a href="index.html"><img src="{{ asset('admin_assets/') }}img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
          </div>
          <div class="container-fluid">
              <div class="navbar-btn">
                  <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
              </div>
              <form class="navbar-form navbar-left">
                  <div class="input-group">
                      <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                      <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                  </div>
              </form>
              <div id="navbar-menu">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                              <i class="lnr lnr-alarm"></i>
                              <span class="badge bg-danger">{% block notifications_number %}{{ notifs |length }} {% endblock %}</span>
                          </a>
                          <ul class="dropdown-menu notifications">
                              {% block notifications %}
                                  {% for m in notifs %}
                                  <li><a href="{{ path('traiter_admin', {'id':m.id}) }}" class="notification-item"><span class="dot bg-warning"></span> New Add : {{ m.content }} </a></li>
                                    {% endfor %}
                              {% endblock %}

                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ asset('admin_assets/') }}img/user.png" class="img-circle" alt="Avatar"> <span>Admin</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                              <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                              <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  {% endblock %}
{% block body %}
    <!-- Delete Post Modal -->
    <!-- Modal -->
    <div id="delete_post_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure ?.</p>
                </div>
                <div class="modal-footer">
                    <button id="delete" type="button" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <h1>Publicités actives : </h1>



                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Content</th>
                            <th>Reason</th>
                            <th>Photo</th>
                            <th>Price</th>
                            <th>Payed</th>
                            <th>State</th>
                            <th>Ends in</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for m in pubs %}
                            {% for i in [1..10] %}
                                <tr id="a{{ m.id }}">
                                    <td><span class="label label-info">{{ m.business.firstname }}</span></td>
                                    <td><span class="label label-info"> {{ m.content }}</span></td>
                                    <td><span class="label label-info">{{ m.reason }}</span></td>
                                    <td> <img   src="{{ asset('member_assets/images/') }}{{ m.photoUrl}}"
                                                style="height : 150px ;width:150px" alt=""></td>
                                    <td ><span class="label label-info">{{ m.price }} EUR</span></td>
                                    <td >{% if m.payed==1 %}<span class="label label-success"> Yes</span> {% else %}<span class="label label-danger"> No</span> {% endif %}</td>

                                    <td><span class="label label-{% if m.state==1 %}success{% elseif m.state==0 %}warning{% elseif m.state==2 %}danger{% endif %}">{% if m.state==1 %} approved {% elseif m.state==0 %}not processed{% elseif m.state==2 %} denied {% endif %}</span></td>



                                    <td ><span class="label label-default" id="{{ m.id }}"+i > </span></br>
                                        <span id="time" class="label label-default" >
                        {{ m.endDate | date('Y/m/d') }}

                </span>
                                    </td>
                                    <td ><button type="button" class="btn btn-warning" ><i class="fa fa-warning"></i>
                                            <a href="{{ path('traiter_admin', {'id':m.id}) }}"> Modify </a></button>


                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_post_modal" onclick="showDeleteModal({{ m.id }})" ><i class="fa fa-trash-o" ></i>
                                            <a  >Delete </a></button></td>

                                </tr>
                            {% endfor %}
                        {% endfor %}

                        </tbody>
                    </table>



{% endblock %}
