<html>
    <head>
        <title>Resetting Password</title>
        {% if app.user %}
            <script>
                window.location = "{{ path('member_profile') }}";
            </script>
        {% endif %}
        <link rel="icon" href="{{ asset('member_assets/img/fav-icon.png') }}" type="image/x-icon" />
        <link href="{{ asset('member_assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('member_assets/css/card.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="row" style="margin: unset; height: 100%; display: flex; align-items: center; background-image: url({{ asset('member_assets/img/back_pattern.png') }}); background-repeat: repeat;">
            <div class="col-sm-offset-3 col-md-6">
                <div class="card horizontal">
                    <div class="card-stacked">
                        {% include "@FOSUser/Resetting/request_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
