{% extends "member_base.html.twig" %}

{% block title %}Recommandations{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('member_assets/css/recommandation/recommandation.css') }}" rel="stylesheet">
{% endblock %}

{% block banner_img %}
    {{ asset('member_assets/img/banner/banner-bg-1.jpg') }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="img-container">
                    <img class="card-img" src="{{ asset('member_assets/img/logo.png') }}" width="200">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Header</h2>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
