{% extends "member_base.html.twig" %}

{% block scripts %}
<script src="{{ asset('member_assets/js/jquery-3.2.1.min.js') }} "></script>
<script type="text/javascript">
    function f(){

        $.ajax({
            url: "{{path('refrech')}}",
            type: "POST",
            cache: false,
            success  : function (data){
                var id = data['id'];
                alert(id);
                $('#x').css("background", "url("+id+") no-repeat scroll center center; background-size: cover;");


            }

        })
        setInterval(f(),7000);
        }

    $(document).ready(function () {


        {% for m in sides %}

        $('#{{ m.id }}').click(function (){

            $.ajax({
                url: "{{path('increment')}}",
                type: "POST",
                cache: false,
                data: {
                    "id" : $('#{{ m.id }}').attr('id')
                },

            });
        });

        {% endfor %}
        {% for m in bigs %}

        $('#{{ m.id }}').click(function (){

            $.ajax({
                url: "{{path('increment')}}",
                type: "POST",
                cache: false,
                data: {
                    "id" : $('#{{ m.id }}').attr('id')
                },

            });
        });

        {% endfor %}
 });

</script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12&appId=212394559315715&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs); }
        (document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
{% block title %}News Feed{% endblock %}

       {% block banner %}

           {% for m in bigs %}
               {% set menuUri %}https://{{ m.business.link }}{% endset %}

               <section role="button" class="banner_area" style="background: url({% block banner_img %} {{ asset('member_assets/images/') }}{{ m.photoUrl}}{% endblock %}) no-repeat scroll center center; background-size: cover;" id="x">
                   <div class="container">
                       <div class="banner_content">
                           <br><br><br><br><br><br><br><br><br><br><br><br><br>
                       </div>
                   </div>
                   <div class="fb-like" data-href="https://{{ m.business.link }}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

               </section>

           {% endfor %}
       {% endblock %}
{% block body %}

    <section class="blog_grid_area">

        <div class="container">
            {% for m in sides %}
                {% for i in [1..10]  %}
                    {% if m.videoUrl == null  %}
                        <div class="row">
                            <div class="blog_grid_inner">
                                <div class="col-md-3 col-sm-6">
                                    <div class="blog_grid_item">
                                        <div class="blog_grid_img">
                                            <img src="{{ asset('member_assets/') }}images/{{ m.photoUrl }}" alt="" style="width: 280px ; height : 250px">
                                            <div class="blog_share_area">
                                                <a></a>
                                                <a   id="{{ m.id }}"+i  ><i class="fa fa-heart" aria-hidden="true" role="button"></i>{{ m.clicks }}</a>
                                                <div class="fb-like" data-href="https://{{ m.business.link }}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% elseif  'https://www.youtube.com/embed/' in m.videoUrl %}
                        <iframe width="280" height="250"
                                src="{{ m.videoUrl }}">
                         </iframe>
                    {% else  %}
                        <div class="row">
                            <div class="blog_grid_inner">
                                <div class="col-md-3 col-sm-6">
                                    <div class="blog_grid_item">
                                        <div class="blog_grid_img">
                                            <img src="{{ asset('member_assets/') }}images/{{ m.photoUrl }}" alt="" style="width: 280px ; height : 250px">
                                            <div class="blog_share_area">
                                                <a   id="{{ m.id }}"+i  ><i class="fa fa-heart" aria-hidden="true" role="button"></i>{{ m.clicks }}</a>
                                                <div class="fb-like" data-href="https://{{ m.business.link }}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                    <br>
                {% endfor %}
            {% endfor %}
        </div>
    </section>

    <br>
    <br><br><br><br><br>


    <!--================Blog slider Area =================-->
    <section class="blog_slider_area">

        <div class="blog_slider_inner">
            {% for m in bottoms %}
                <div class="item">
                <div class="single_blog_slider">
                    <img src="{{ asset('member_assets/images/') }}{{ m.photoUrl}}"alt="" style="width: 350px ; height: 400px">
                    <div class="blog_item_content">
                        <ul>
                            <li><a href="https://{{ m.business.link }}"><i class="fa fa-search"></i></a></li>
                            <li><a href="https://{{ m.business.link }}"><i class="fa fa-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!--================End Blog slider Area =================-->
{% endblock %}



