
{% extends 'business_base.html.twig' %}
{% block title %}Advert | Create{% endblock %}
 {% block stylesheets %}


     <link href="{{ asset('business_assets/') }}css/demo.css" rel="stylesheet" />
     <link href="{{ asset('business_assets/') }}css/main.css" rel="stylesheet" />

 {% endblock %}
{% block page_title %}Advert creation form{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Advert</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}

{% block body %}

    <script src="{{ asset('member_assets/js/jquery-3.2.1.min.js') }} "></script>
    <script type="text/javascript" >
        $(document).ready(function () {
            var date = new Date();
            $('#basebundle_advert_endDate_year').val(date.getFullYear());
            $('#basebundle_advert_endDate_month').val(date.getMonth()+1);
            $('#basebundle_advert_endDate_day').val(date.getDate());


            $('#table').css('border-spacing', '30px' )
            $('#table').css('padding', '30px' )


            $('#valider').addClass("btn btn-success","fa fa-check-circle");
            $('#basebundle_advert_endDate_year').addClass("form-control")
            $('#basebundle_advert_endDate_month').addClass("form-control")
            $('#basebundle_advert_endDate_day').addClass("form-control");
            $('#durée').addClass("form-control");
            $('#basebundle_advert_content').addClass("form-control")
                $('#basebundle_advert_photoUrl').addClass("form-control")
                $('#basebundle_advert_videoUrl').addClass("form-control")
            $('#basebundle_advert_reason').addClass("form-control")
            $('#basebundle_advert_price').addClass("form-control")

            $('#valider').click(function(e){
                if ( $('#25').val()==null && $('#20').val()==null && $('#15').val()==null)
                {$(function(){ alert("Choose type") ;  } );
                e.preventDefault();}
            });

            $('#25').click(function () {

                {
                    var pub = new Date(
                        $('#basebundle_advert_endDate_year').val()
                        ,
                        $('#basebundle_advert_endDate_month').val()-1
                       ,
                        ($('#basebundle_advert_endDate_day').val()));
                    var d = new Date();
                    var s = (pub.getTime()-d.getTime());
                    var diff = Math.ceil(s / (1000 * 3600 * 24));
                    var prixtotal = (diff * 10) ;
                    if (diff>0)
                    {
                    $('#basebundle_advert_price').val(prixtotal);
                        $('#prixtotal').html( pub + d + diff );
                        $('#durée').val(diff+" Jours");
                    }
                    else return null;

                }

            });
            $('#20').click(function () {

                {
                    var pub = new Date(
                        $('#basebundle_advert_endDate_year').val()
                        ,
                        $('#basebundle_advert_endDate_month').val()-1
                        ,
                        $('#basebundle_advert_endDate_day').val());
                    var d = new Date();
                    var s = (pub.getTime()-d.getTime());
                    var diff = Math.ceil(s / (1000 * 3600 * 24));
                    var prixtotal = (diff * 7) ;
                    if (diff>0)
                    {
                        $('#basebundle_advert_price').val(prixtotal);
                        $('#prixtotal').html( pub + d + diff );
                        $('#durée').val(diff+" Jours");
                    }
                    else return null;

                }

            });
            $('#15').click(function () {

                {
                    var pub = new Date(
                        $('#basebundle_advert_endDate_year').val()
                        ,
                        $('#basebundle_advert_endDate_month').val()-1
                        ,
                        $('#basebundle_advert_endDate_day').val());
                    var d = new Date();
                    var s = (pub.getTime()-d.getTime());
                    var diff = Math.ceil(s / (1000 * 3600 * 24));
                    var prixtotal = (diff * 4) ;
                    if (diff>0)
                    {
                        $('#basebundle_advert_price').val(prixtotal);
                        $('#prixtotal').html( pub + d + diff );
                        $('#durée').val(diff+" Jours");
                    }
                    else return null;

                }

            });



        });
</script>
    {{ form_start(form,  { 'id': 'formtwig' }) }}<br>
    <table id="table">

        <tr>
            <label class="fancy-radio">
                <td> Formule Top banner 10dt/j: </td>
                <td>
                    <input value="Male" name="gender" class="fancy-radio" type="radio" id="25">
                </td>
            </label>
        </tr>
        <tr>

            <label class="fancy-radio">
                <td> Formule Side banner 7dt/j : </td>
                <td>
                    <input value="Male" name="gender" class="fancy-radio" type="radio" id="20">
                </td>
            </label>
        </tr>
        <tr>

            <label class="fancy-radio">
                <td> Formule Slider 4dt/j : </td>
                <td>
                    <input value="Male" name="gender" class="fancy-radio" type="radio" id="15">
                </td>
            </label>
        </tr>



        <tr>
            <td>Content : </td>
            <td>{{ form_widget(form.content) }}</td>
        </tr>

        <tr id="photo" >
            <td>Photo Url : </td>
            <td>{{ form_widget(form.photoUrl) }}</td>



            <td>Video Url : </td>
        <td>{{ form_widget(form.videoUrl)}}</td>
        </tr>

        <tr>
            <td>Reason</td>
            <td>{{ form_widget(form.reason) }}</td>
        </tr>

        <tr>
            <td>end date</td>
            <td>{{ form_widget(form.endDate)}}</td>
        </tr>


        <tr>

            <td id="date">{{ form_widget(form.state) }}</td>
        </tr>
        <tr>

            <td>{{ form_widget(form.clicks) }}</td>
        </tr>
        <tr>
            <td> durée</td> <td> <input type="text" id="durée" placeholder="0 Jours" disabled="true" ></td>
        </tr>
        <tr>
            <td>prix :</td>
            <td>{{ form_widget(form.price)  }}</td>
        </tr>


        <tr >
            <div id="prixtotal"></div>

        </tr>
        <tr>
            <td></td>
            <td class="demo-button">{{ form_widget(form.Valider ,  { 'id': 'valider' })  }}</td>
        </tr>



    </table>
    <div class="alert alert-warning alert-dismissible" role="alert" hidden="true" id="warning" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-warning"></i> Warning, Please fill all the fields
    </div>
    {{ form_end(form) }}
{% endblock %}


