{% extends 'admin_base.html.twig' %}
{% block title %}Admin | Questions{% endblock %}
{% block page_title %}Questions{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('member_assets/css/card.css') }}" rel="stylesheet">
    <style>
        .hoverable{
            cursor: pointer;
            transition: transform, color 0.2s ease;
        }

        .hoverable:hover{
            transform: scale(1.2);
            color: #00aaff;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="question-form-modal" class="modal fade centered-modal" role="dialog" style="margin-top: 5vh;">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Question</h4>
                </div>
                <div class="modal-body">
                    <div class="row card-container" style="width: 100%;">
                        <div class="col-md-12">
                            <div class="card horizontal" style="height: 70vh;">
                                <div class="card-stacked">
                                    <form id="question-form">
                                        <div class="card-content" style="align-content: center; max-height: 100%; min-height: 62vh">
                                            <div class="row" style=" position:relative;left: 50%;transform: translate(-50%); width: 70%; height: 100%; max-height: 100%; overflow-y: auto;">
                                                <div class="form-group">
                                                    <label for="topic">Topic:</label>
                                                    <select id="topic" class="form-control" required>
                                                        <option value="null" disabled selected>Select a topic</option>
                                                        <option value="0">Topic 1</option>
                                                        <option value="1">Topic 2</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="question">Question:</label>
                                                    <input class="form-control" id="question" type="text" placeholder="Question" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Choices:</label><br/>
                                                    <input data-id="" required style="display: inline-block; width: 50%;" type="text" class="form-control choice" placeholder="Choice" id="ch-0"/><span id="add-0" style="margin-left: 10px; font-size: large;" class="lnr lnr-plus-circle hoverable choice-add"></span>
                                                    <div id="choices"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <button id="question-add-btn" type="submit" style="float: right;" class="btn btn-default">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body" style="min-height: 68vh;">
            <h3 class="lnr lnr-plus-circle hoverable" id="add_question-btn" style="float: right;"></h3>
        <table class="table table-hover" style="width: 100%;">
            <thead>
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Topic</th>
                <th>Possible choices</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="question-table-body">
                {% for question in questions %}
                    <tr id="row-{{ question.id }}">
                        <td>{{ question.id }}</td>
                        <td>{{ question.question }}</td>
                        {% for key, value in topics %}
                            {% if value == question.topic %}
                                <td id="t-{{ value }}">
                                    {{ key }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <ul>
                                {% for choice in question.choices %}
                                    <li id="c-{{ choice.id }}">{{ choice.choice }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="width: 20%;">
                            <button type="button" class="btn btn-sm btn-info edit" data-id="{{ question.id }}">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger delete" data-id="{{ question.id }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var index = 1;
        $('.choice-add').click(function () {
            addChoicesInputs();
        });

        $('#question-form').submit(function (event) {
            event.preventDefault();
            if($(this).attr('action') == 'edit'){
                updateQuestion();
            }else if($(this).attr('action') == 'add'){
                addQuestion();
            }
        });

        function addChoicesInputs() {
            if($('#ch-'+(index-1)).val()){
                $('#add-'+(index-1)).addClass("hide");
                index++;
                if(index==2){
                    $('#choices').append("" +
                        "<div><br/><input data-id='' onblur='removeChoiceInput(this)' style='display: inline-block; width: 50%;' type='text' class='form-control choice' placeholder='Choice' id='ch-"+(index-1)+"'/><span onclick='addChoicesInputs();' id='add-"+(index-1)+"' style='margin-left: 10px; font-size: large;' class='lnr lnr-plus-circle hoverable choice-add'></span>" +
                        "<br/><br/><div>");
                }else if(index<5){
                    $('#choices').append("" +
                        "<div><input data-id='' onblur='removeChoiceInput(this)' style='display: inline-block; width: 50%;' type='text' class='form-control choice' placeholder='Choice' id='ch-"+(index-1)+"'/><span onclick='addChoicesInputs();' id='add-"+(index-1)+"' style='margin-left: 10px; font-size: large;' class='lnr lnr-plus-circle hoverable choice-add'></span>" +
                        "<br/><br/></div>");
                }else{
                    $('#choices').append("" +
                        "<div><input data-id='' onblur='removeChoiceInput(this)' style='display: inline-block; width: 50%;' type='text' class='form-control choice' placeholder='Choice' id='ch-"+(index-1)+"'/>" +
                        "</div>");
                }
                $('#ch-'+(index-1)).focus();
            }
        }

        function removeChoiceInput(node) {
            if(!$(node).val()){
                $(node).parent().remove();
                index--;
                $('#add-'+(index-1)).removeClass('hide');
                $('#ch-'+(index-1)).focus();
            }
        }

        $('#add_question-btn').click(function () {
            var topics = JSON.parse('{{ topics|json_encode|raw }}')
            $('#topic').html('<option value="null" disabled selected>Select a topic</option>');
            $.each(topics, function (k, el) {
                $('#topic').append('<option value="'+el+'">'+k+'</option>');
            });
            $('#question-form').attr('action', 'add');
            resetQuestionForm();
        });

        function resetQuestionForm() {
            $('#question').val('');
            for(i=1; i<index; i++){
                $('#ch-'+i).parent().remove();
            }
            $('#ch-0').val('');
            $('#add-0').removeClass('hide');
            index=1;
            $('#question-form-modal').modal('show');
        }

        $('.edit').click(function () {
            editQuestion(this);
        });

        $('.delete').click(function () {
            deleteQuestion(this);
        });

        function editQuestion(node) {
            $('#question-form').attr('action', 'edit');
            prepareForEdit($(node).data('id'));
        }

        function prepareForEdit(id) {
            resetQuestionForm();
            var row = $('#row-'+id);
            var question = $(row[0].children[1]).html();
            var topic = $(row[0].children[2]).attr('id')[2];
            var choices = $.map($(row[0].children[3].children[0].children), function (val, i) {
                return {id: $(val).attr('id').split("-")[1], choice: $(val).html()}
            });

            $('#question').val(question);
            document.getElementById('question').dataset.id = id;
            var topics = JSON.parse('{{ topics|json_encode|raw }}')
            $('#topic').html('<option value="null" disabled>Select a topic</option>');
            $.each(topics, function (k, el) {
                if(el == topic){
                    $('#topic').append('<option value="'+el+'" selected>'+k+'</option>');
                }else{
                    $('#topic').append('<option value="'+el+'">'+k+'</option>');
                }
            });
            $('#ch-0').val(choices[0]['choice']);
            document.getElementById('ch-0').dataset.id = choices[0]['id'];
            for(i=1; i<choices.length; i++){
                addChoicesInputs();
                $('#ch-'+i).val(choices[i]['choice']);
                document.getElementById('ch-'+i).dataset.id = choices[i]['id'];
            }
            $('#question-form-modal').modal('show');
        }

        function deleteQuestion(node) {
            if(confirm("Do you want to delete this question?")){
                var questionId = $(node).data('id');
                $.ajax({
                    type: "POST",
                    url: "{{ path('admin_question_delete') }}",
                    data: { id : questionId},
                    success: function (data) {
                        updateQuestionTable();
                    }
                });
            }
        }
        
        function updateQuestionTable() {
            $.ajax({
                type: "POST",
                url: "{{ path('admin_get_questions') }}",
                success: function (data) {
                    $('#question-table-body').html('');
                    $.each(data, function (k, el) {
                        var topics = [];
                        "{% for key, value in topics %}"+topics.push({key: "{{ key }}", value: "{{ value }}"})+"{% endfor %}";

                        var topic;
                        $.each(topics, function (key, elem) {
                            if(elem.value == el.topic){
                                topic=elem.key;
                            }
                        });
                        var choiceString = '';
                        $.each(el.choices, function (kk, ell) {
                           choiceString+="<li id='c-"+ell.id+"'>"+ell.choice+"</li>";
                        });
                        $('#question-table-body').append("" +
                            "<tr id='row-"+el.id+"'>\n" +
                            "   <td>"+el.id+"</td>\n" +
                            "   <td>"+el.question+"</td>\n" +
                            "   <td id='t-"+el.topic+"'>"+topic+"</td>\n" +
                            "   <td>\n" +
                            "       <ul>"+choiceString+"</ul>\n" +
                            "   </td>\n" +
                            "   <td style=\"width: 20%;\">\n" +
                            "       <button onclick='editQuestion(this)' type=\"button\" class=\"btn btn-sm btn-info edit\" data-id=\""+el.id+"\">Edit</button>\n" +
                            "       <button onclick='deleteQuestion(this)' type=\"button\" class=\"btn btn-sm btn-danger delete\" data-id=\""+el.id+"\">Delete</button>\n" +
                            "   </td>\n" +
                            "</tr>" +
                            "");
                    });
                }
            });
        }

        function addQuestion() {
            var choicesStrings = [];
            for(i=0; i<index; i++){
                choicesStrings.push($('#ch-'+i).val());
            }
            var question = $('#question').val();
            var topic = $('#topic').val();
            var toSend = {question: question, topic: topic, choices: choicesStrings};
            $.ajax({
                type: "POST",
                url: "{{ path('admin_add_question') }}",
                data: { question : toSend},
                success: function (data) {
                    updateQuestionTable();
                    $('#question-form-modal').modal('hide');
                }
            });
        }

        function updateQuestion() {
            var choicesStrings = [];
            for(i=0; i<index; i++){
                choicesStrings.push($('#ch-'+i).val());
            }
            var question = {id: document.getElementById('question').dataset.id, question: $('#question').val()};
            var topic = $('#topic').val();
            var toSend = {question: question, topic: topic, choices: choicesStrings};
            $.ajax({
                type: "POST",
                url: "{{ path('admin_update_question') }}",
                data: { question : toSend},
                success: function (data) {
                    updateQuestionTable();
                    $('#question-form-modal').modal('hide');
                }
            });
        }
    </script>
{% endblock %}