<html>
<header>
    <link href="{{ asset('member_assets/css/bootstrap.min.css') }}" rel="stylesheet">
</header>
<body>
{% block body %}
    <h1>Feedbacks list</h1>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Date</th>
                <th>Content</th>
                <th>State</th>
                <th>id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td>{% if feedback.sender.username is defined and feedback.sender.username is not null %} {{ feedback.sender.username }} {% endif %}</td>
                <td>{% if feedback.date %}{{ feedback.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ feedback.content }}</td>
                <td>{% if feedback.state %}Treated{% else %}Non_Treated{% endif %}</td>
                <td><a href="{{ path('feedback_show', { 'id': feedback.id }) }}">{{ feedback.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('feedback_show', { 'id': feedback.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('feedback_edit', { 'id': feedback.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Sender</th>
            <th>Date</th>
            <th>Content</th>
            <th>State</th>
            <th>id</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
    <script src="{{ asset('member_assets/js/jquery-2.1.4.min.js') }}"></script>

    <script src="{{asset('datatable_assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('datatable_assets/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script type="text/javascript">

        jQuery(function($) {

            // Setup - add a text input to each footer cell
            $('#dynamic-table tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            //initiate dataTables plugin
            var tableSignal =
                    $('#dynamic-table')
                            .DataTable(
                                    {

                                        //search boxes on top without replacing the columns titles
                                        'initComplete' : function()
                                        {
                                            var r = $('#dynamic-table tfoot tr');
                                            r.find('th').each(function(){
                                                $(this).css('padding', 8);
                                            });
                                            $('#dynamic-table thead').append(r);
                                            $('#search_0').css('text-align', 'center');
                                        },

                                        bAutoWidth: false,
                                        "aoColumns": [
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null
                                        ],
                                        "aaSorting": [],

                                    } );

            tableSignal.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                                .search( this.value )
                                .draw();
                    }
                } );
            } );


        } );

    </script>

    <ul>
        <li>
            <a href="{{ path('feedback_new') }}">Create a new feedback</a>
        </li>
    </ul>
{% endblock %}
</body>
</html>
