{% extends "admin_base.html.twig" %}

{% block title %}Feedbacks list{% endblock %}

{% block banner_img %}
    <link href="{{ absolute_url (asset('member_assets/css/bootstrap.min.css')) }}" rel="stylesheet">
{% endblock %}

{% block banner_title %}Feedbacks list{% endblock %}


{% block body %}

    <section >
        <img src="{{ absolute_url ( asset('admin_assets/img/3.png')) }}" alt="rien" align="center" style="margin-left: 10cm;width: 8cm; height: 2.5cm; margin-top: -1cm;"/><br><br><br>
        <div id="informations">
            <b><p style="color: #384659"> Feedbacks  <span style="color: #00aa00" > "Treated" </span>: {{ nb1 }}</p></b>
            <b><p style="color: #384659"> Feedbacks  <span style="color: #FF2733">  "Non Treated" </span>: {{ nb  }}</p></b>
        </div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #384659;">
                <th style="color: white">Sender</th>
                <th style="color: white">Date</th>
                <th style="color: white">Content</th>
                <th style="color: white">State</th>
                <th style="color: white">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td>{% if feedback.sender.username is defined and feedback.sender.username is not null %} {{ feedback.sender.username }} {% endif %}</td>
                <td>{% if feedback.date %}{{ feedback.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ feedback.content }}</td>
                <td>{% if feedback.state %}Treated{% else %}Non_Treated{% endif %}</td>
                <td>
                    <ul>
                            <a href="{{ path('feedback_state', { 'id': feedback.id }) }}">   <button type="button" style="width: 125px" class="btn btn-danger" /><span class="glyphicon glyphicon-edit"></span> Make Treated </button>
                            </a>
                            <a href="{{ path('feedback_deletee', { 'id': feedback.id }) }}">   <button type="button "  style="background-color: #ffa700" class="btn btn-warning"  /><span class="glyphicon glyphicon-trash"></span></span> Delete </button>
                            </a>
                     </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Sender</th>
            <th>Date</th>
            <th>Content</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
        <a href="{{ path('feedback_pdf') }}">   <button type="button" style="background-color: #0b5b97" class="btn btn-warning" /><span style="background-color: #0b5b97" class="glyphicon glyphicon-edit"></span> Export </button>
        </a>

    <script src="{{ absolute_url (asset('member_assets/js/jquery-2.1.4.min.js')) }}"></script>

    <script src="{{absolute_url (asset('datatable_assets/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{absolute_url (asset('datatable_assets/js/jquery.dataTables.bootstrap.min.js'))}}"></script>

    <script type="text/javascript">

        jQuery(function($) {

            // Setup - add a text input to each footer cell
            $('#dynamic-table tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            //initiate dataTables plugin
            var tableSignal =
                    $('#dynamic-table')
                            .DataTable(
                                    {

                                        //search boxes on top without replacing the columns titles
                                        'initComplete' : function()
                                        {
                                            var r = $('#dynamic-table tfoot tr');
                                            r.find('th').each(function(){
                                                $(this).css('padding', 8);
                                            });
                                            $('#dynamic-table thead').append(r);
                                            $('#search_0').css('text-align', 'left');
                                        },

                                        bAutoWidth: false,
                                        "aoColumns" : [ null, null, null, null, null ],
                                        "aaSorting": [],
                                        "bPaginate":false,

                                    } );

            tableSignal.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                                .search( this.value )
                                .draw();
                    }
                } );
            } );


        } );

    </script>
        </section>
{% endblock %}

